<%- contentFor('hero') %>
<section class="hero is-primary is-bold">
	<div class="hero-body">
		<div class="container">
			<h1 class="title">
				Explorer les recettes
			</h1>

			<h2 class="subtitle">
				Visualiser toutes les recettes
			</h2>
		</div>
	</div>
</section>

<%- contentFor('content') %>
<div class="columns is-multiline">

	<% recettes.forEach(recette => { %>

		<div class="column is-4">
			<div class="card">
				<div class="card-image">
					<figure class="image is-4by3">
						<img src="/public/images/bg_recette.jpg">
					</figure>
				</div>
				<div class="card-content">
					<p class="title"><%= recette.nom %></p>
					<p class="subtitle">
						Par <%= recette.Utilisateur.getFullName() %><br>
						<%= recette.Difficulte.label %> - <%= recette.get_prix() %>
					</p>
				</div>
				<div class="card-footer">
					<p class="card-footer-item">
						<a href="/r/show?id=<%= recette.id %>">Voir la recette</a>
					</p>
				</div>
			</div>
		</div>

	<% }) %>

	<% if (recettes.length == 0) { %>
		<p class="subtitle">Aucune recette n'est actuellement présente dans notre base</h1>
	<% } %>
	
</div>