<%- contentFor('hero') %>
<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Nouvelle recette
            </h1>

            <h2 class="subtitle">
                Ajouter une nouvelle recette pour partager votre savoir-faire avec tout le monde.
            </h2>
        </div>
    </div>
</section>

<%- contentFor('content') %>
<% if (flash.length > 0) { %>
<article class="message" id="#error-message">
    <div class="message-header">
        <p>Erreur</p>
    </div>
    <div class="message-body">
        <% while (message = flash.shift()) { %>
            <li><%= message.message %></li>
        <% } %>
    </div>
</article>
<% } %>

<form action="/r/create" method="POST">
        
    <div class="field">
        <label class="label" for="nom">Nom</label>
        <input class="input" type="text" name="nom" id="nom">
    </div>

    <div class="field">
        <label class="label" for="description">Description</label>
        <textarea name="description" class="textarea" id="description"></textarea>        
    </div>
    
    <div class="columns">
        <div class="field column is-4">
            <label class="label" for="nbpersonnes">Nombre de personnes</label>
            <input class="input" type="number" value="0" name="nbre_personnes" id="nbpersonnes">
        </div>

        <div class="field column is-4">
            <label class="label">Prix</label>
            <div class="select is-fullwidth">
                <select name="prix">
                    <option value="" disabled selected>Choisir un prix</option>
                    <option value="1">Presque gratuit</option>
                    <option value="2">Bon marché</option>
                    <option value="3">Modéré</option>
                    <option value="4">Cher</option>
                    <option value="5">Très cher</option>
                </select>
            </div>
        </div>

        <div class="field column is-4">
            <label class="label">Difficulté</label>
            <div class="select is-fullwidth">
                <select name="difficulte">
                    <option value="" disabled selected>Choisir une difficulté</option>
                    <% difficultes.forEach(difficulte => { %>
                        <option value="<%= difficulte.id %>"><%= difficulte.label %></option>
                    <% }) %>
                </select>
            </div>
        </div>
    </div>

    <div class="columns">
        <div class="column">
            <h5 class="title is-5">Ingrédients</h5>
            <div class="ingredient-zone tags">
            </div>
            <div class="columns">
                <div class="field column is-8">
                    <label class="label" for="ingredient">Ingredient</label>
                    <div class="select is-fullwidth">
                        <select id="ingredient">
                            <option value="" selected disabled>Choisir un ingrédient</option>
                            <% ingredients.forEach(ingredient => { %>
                                <option value='{
                                    "id": <%= ingredient.id %>, 
                                    "qte_calories": <%= ingredient.qte_calories %>, 
                                    "qte_protides": <%= ingredient.qte_protides %>, 
                                    "qte_lipides": <%= ingredient.qte_lipides %>, 
                                    "qte_glucides": <%= ingredient.qte_glucides %>,
                                    "Unite": {
                                        "indice": "<%= ingredient.Unite.indice %>" 
                                    }}'>
                                    <%= ingredient.nom %>
                                </option>
                            <% }) %>
                        </select>
                    </div>
                </div>

                <div class="field column is-4">
                    <label class="label" for="qte">Quantité</label>
                    <input type="number" class="input" value="0" id="qte">
                </div>
            </div>
            <a id="addIngredient" class="button is-primary">Ajouter un ingrédient</a>
        </div>

        <div class="is-divider-vertical" data-content="ET"></div>

        <div class="column">
            <h5 class="title is-5">Etapes</h5>
            <div class="etapes-zone tags"></div>
            <div class="columns">
                <div class="field column is-6">
                    <label class="label" for="nome">Nom</label>
                    <input type="text" class="input" id="nome"> 
                </div>

                <div class="field column is-6">
                    <label class="label" for="duree">Duree (en min)</label>
                    <input type="number" class="input" value="0" id="duree">
                </div>
            </div>  

            <div class="field">
                <label class="label" for="desce">Description</label>
                <textarea id="desce" class="textarea"></textarea>
            </div>

            <a id="addEtape" class="button is-primary">Ajouter une étape</a>
        </div>
    </div>

    <button type="submit" class="button is-link">Créer la recette</button>
    
    <input type="hidden" value="[]" name="ingredients" id="ingredients">
    <input type="hidden" value="[]" name="etapes" id="etapes">
    <input type="hidden" value="0" name="qte_calories" id="qte_calories"> 
    <input type="hidden" value="0" name="qte_lipides" id="qte_lipides">
    <input type="hidden" value="0" name="qte_protides" id="qte_protides">
    <input type="hidden" value="0" name="qte_glucides" id="qte_glucides">
    <input type="hidden" value="0" name="duree" id="duree_r">

</form>