<%- contentFor('hero') %>
<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                <%= recette.nom %>
            </h1>

            <h2 class="subtitle">
                <%= recette.description %>
            </h2>
        </div>
    </div>
</section>

<%- contentFor('content') %>
<div class="columns">
    <div class="column is-4">
        <% if (req.session.login) { %>
            <div class="box">
                <h5 class="title is-5">Planning</h5>
                <form action="/p/add_menu" method="GET">
                    <input type="hidden" value="<%= recette.id %>" name="rid">

                    <div class="field">
                        <label for="" class="label">Date</label>
                        <input type="text" class="input" name="date" id="datepicker1">
                    </div>

                    <div class="field">
                        <label for="" class="label">Horaire</label>
                        <div class="select is-fullwidth">
                            <select name="horaire">
                                <option value="" selected disabled>Choisir...</option>
                                <option value="matin">Matin</option>
                                <option value="midi">Midi</option>
                                <option value="soir">Soir</option>
                            </select>
                        </div>
                    </div>

                    <div class="field">
                        <button class="button" type="submit">Ajouter au planning</button>
                    </div>
                </form>
            </div>
        <% } %>

        <div class="box">
            <h5 class="title is-5">Quantité de nutriments</h5>
            <table class="table is-fullwidth is-hoverable">
                <thead>
                    <th>Lipides</th>
                    <th>Protides</th>
                    <th>Glucides</th>
                    <th>Calories</th>
                </thead>
                <tbody>
                    <td><%= recette.qte_lipides %></td>
                    <td><%= recette.qte_protides %></td>
                    <td><%= recette.qte_glucides %></td>
                    <td><%= recette.qte_calories %></td>
                </tbody>
            </table>
        </div>

        <div class="box">
            <h5 class="title is-5">Informations</h5>
            <div class="columns is-multiline is-mobile">                
                <div class="column is-6">
                    <div class="is-divider" data-content="PAR"></div>
                    <h6 class="title is-6"><%= user.login %></h6>
                </div>

                <div class="column is-6">
                    <div class="is-divider" data-content="Durée (minutes)"></div>
                    <h6 class="title is-6"><%= recette.duree %></h6>
                </div>

                <div class="column is-6">
                    <div class="is-divider" data-content="Pour ... personnes"></div>
                    <h6 class="title is-6"><%= recette.nbre_personnes %></h6>
                </div>

                <div class="column is-6">
                    <div class="is-divider" data-content="Prix"></div>
                    <h6 class="title is-6"><%= recette.get_prix() %></h6>
                </div>

                <div class="column is-6">
                    <div class="is-divider" data-content="Difficulté"></div>
                    <h6 class="title is-6"><%= recette.Difficulte.label %></h6>
                </div>
            </div>
        </div>

        <div class="box">
            <h5 class="title is-5">Ingrédients</h5>
            <% for(var i = 0; i < ingredients.length; i++) { %>
                <li>
                    <%= ingredients[i].Contient_Ingredient.qte %>
                    <%= ingredients[i].Unite.getIndice() %>
                    <%= ingredients[i].nom %>
                </li>
            <% } %>
        </div>
    </div>

    <div class="column is-8">
        <img src="/public/images/bg_recette.jpg" alt="Image recette">
        <% etapes.sort(function (a, b) { return a.position - b.position; }).forEach(etape => { %>
            <div class="is-divider" data-content="<%= etape.nom %> - <%= etape.duree %> min"></div>
            <div class="content">
                <%= etape.description %>
            </div>
        <% }) %>    
    </div>
</div> 