<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Administration
            </h1>

            <h2 class="subtitle">
                <%= user %>
            </h2>
        </div>
    </div>
</section>