<div class="container">
    <div class="level">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Recettes</p>
                <p class="title"><%= nb_recipes %></p>
            </div>
        </div>

        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Ingrédients</p>
                <p class="title"><%= nb_ingredients %></p>
            </div>
        </div>

        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Utilisateurs</p>
                <p class="title"><%= nb_users %></p>
            </div>
        </div>
    </div>

    <div class="content has-text-centered">
        <p>Made with <i class="fa fa-heart"></i> at University of Strasbourg</p>
    </div>
</div>