<div class="column is-3">
    <ul class="sidenav">
        <li><a href="/a/ingredients">Gestion des ingrédients</a></li>
        <li><a href="/a/recettes">Gestion des recettes</a></li>
        <li><a href="/a/users">Gestion des utilisateurs</a></li>
        <li><a href="/a/unites">Gestion des unités</a></li>
    </ul>
</div>