<nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation">
	<div class="container">

		<div class="navbar-brand">
			<a href="/" class="navbar-item">
				<img id="logo" src="/public/images/logo.svg" alt="Le Gourmet Logo">
			</a>
		</div>

		<div class="navbar-menu">
			<div class="navbar-end">
				<% if (req.session.login) { %>
					<a 	href="/r/new" 
						class="navbar-item tooltip is-tooltip-bottom" 
						data-tooltip="Créer une recette">
						<i class="fa fa-plus"></i>
					</a>

					<a 	href="/p/index" 
						class="navbar-item tooltip is-tooltip-bottom"
						data-tooltip="Voir mes plannings">
						<i class="fa fa-calendar"></i>
					</a>
				<% } %>
				<a 	href="#!" 
					id="search-btn"
					class="navbar-item tooltip is-tooltip-bottom" 
					data-tooltip="Trouver une recette">
					<i class="fa fa-search"></i>
				</a>

				<a 	href="/r" 
					class="navbar-item tooltip is-tooltip-bottom" 
					data-tooltip="Explorer les recettes">
					<i class="fa fa-globe"></i>
				</a>

				<% if (req.session.login) { %>
					<a 	href="/u/dashboard" 
						class="navbar-item tooltip is-tooltip-bottom" 
						data-tooltip="Tableau de bord">
						<i class="fa fa-dashcube"></i>
					</a>
					<% if (req.session.admin) { %>
						<a 	href="/a" 
							class="navbar-item tooltip is-tooltip-bottom" 
							data-tooltip="Administration">
							<i class="fa fa-lock"></i>
						</a>
					<% } %>
					<a 	href="/u/signout" 
						class="navbar-item tooltip is-tooltip-bottom" 
						data-tooltip="Se déconnecter">
						<i class="fa fa-sign-out"></i>
					</a>
				<% } else { %>
					<a 	id="signin-link" style="cursor:pointer" 
						class="navbar-item tooltip is-tooltip-bottom"
						data-tooltip="Se connecter">
						<i class="fa fa-user"></i>
					</a>
					
					<a 	id="signup-link" style="cursor:pointer" 
						class="navbar-item tooltip is-tooltip-bottom" 
						data-tooltip="S'inscrire">
						<i class="fa fa-user-plus"></i>
					</a>
				<% } %>
			</div>
		</div>
	</div>
</nav>