<section class="hero">
	<div class="hero-body">
		<div class="container">
			<h1 class="title">
				Bienvenue parmi nous
			</h1>
		</div>
	</div>
</section>

<form>

	<div class="field">
		<label class="label" for="login">Login</label>
		<input id="login" class="input" type="text" name="login">
	</div>

	<div class="field">
		<label for="mdp" class="label">Mot de passe</label>
		<input id="mdp" class="input" type="password" name="mdp">
	</div>

	<button id="signin-btn" class="button is-link">Let's go</button>
	
</form>