<section class="hero">
	<div class="hero-body">
		<div class="container">
			<h1 class="title">
				Oh, un nouveau membre ?
			</h1>
		</div>
	</div>
</section>

<form>

	<div class="columns">
		<div class="column six field">
			<label class="label" for="login_i">Login (*)</label>
			<input id="login_i" class="input" type="text" name="login">
		</div>

		<div class="column six field">
			<label class="label" for="email_i">Adresse courriel (*)</label>
			<input id="email_i" class="input" type="text" name="email">
		</div>
	</div>

	<div class="columns">
		<div class="column six field">
			<label class="label" for="mdp_i">Mot de passe (*)</label>
			<input class="input" id="mdp_i" type="password" name="mdp">
		</div>

		<div class="column six field">
			<label class="label" for="cmdp_i">Confirmation mot de passe (*)</label>
			<input class="input" id="cmdp_i" type="password" name="mdp_conf">
		</div>
	</div>

	<div class="columns">
		<div class="column six field">
			<label class="label" for="nom_i">Nom</label>
			<input class="input" id="nom_i" type="text" name="nom">
		</div>

		<div class="column six field">
			<label class="label" for="prenom_i">Prénom</label>
			<input class="input" id="prenom_i" type="text" name="prenom">
		</div>
	</div>

	<div class="field">
		<label class="label" for="adresse_i">Adresse postale</label>
		<input class="input" id="adresse_i" type="text" name="adresse">
	</div>

	<button class="button is-link" id="signup-btn" type="submit">Je suis pret</button>
	
</form>