<%- contentFor('hero') %>
<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Tableau de bord
            </h1>

            <h2 class="subtitle">
                <%= user.getFullName() %>
            </h2>
        </div>
    </div>
</section>

<%- contentFor('content') %>
<form action="/u/update" method="POST">

    <div class="columns">
        <div class="column six">
            <label for="login_u" class="label">Login</label>
            <input type="text" value="<%= user.login %>" class="input" id="login_u" name="login">
        </div>

        <div class="column six">
            <label for="email_u" class="label">Adresse mail</label>
            <input type="text" value="<%= user.email %>" class="input" id="email_u" name="email">
        </div>
    </div>

    <div class="columns">
        <div class="column six field">
            <label for="nom_u" class="label">Nom</label>
            <input type="text" value="<%= user.nom %>" class="input" id="nom_u" name="nom">
        </div>

        <div class="column six field">
            <label for="prenom_u" class="label">Prenom</label>
            <input type="text" value="<%= user.prenom %>" class="input" id="prenom_u" name="prenom">
        </div>
    </div>

    <div class="columns">
        <div class="field column six">
            <label for="adresse_u" class="label">Adresse postale</label>
            <input type="text" class="input" id="adresse_u" name="adresse">
        </div>
    
        <div class="field column six">
            <label for="mdp_u" class="label">Mot de passe</label>
            <input type="password" class="input" id="mdp_u" name="mdp">
        </div>
    </div>

    <button class="button is-link">Valider mes modifications</button>

</form>