<!DOCTYPE html>
<html lang="fr" class="has-navbar-fixed-top">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Le Gourmet</title>

        <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet"> 
        <link rel="stylesheet" href="/public/css/normalize.css">
        <link rel="stylesheet" href="/public/css/font-awesome.min.css">
        <link rel="stylesheet" href="/public/css/bulma.css">
        <link rel="stylesheet" href="/public/css/bulma-extensions.min.css">
        <link rel="stylesheet" href="/public/css/animate.css">
        <link rel="stylesheet" href="/public/css/default.css">
        <link rel="stylesheet" href="/public/css/jquery.dropdown.min.css">
    </head>
    <body>
        <div id="overlay"></div>

        <% include partials/menu %>

        <div id="search_zone">
            <div class="container">
                <form action="/r/find" method="GET">
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <input type="text" name="q" class="input is-large" placeholder="Trouver une recette par ingrédients">
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-info is-large">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <header>
            <%- hero %>
        </header>

        <main class="container">
            <%- content %>
        </main>

        <!-- Footer -->
        <footer class="footer">
            <% include partials/footer %>
        </footer>

        <!-- Mettre JQUERY ici pour accéder aux fonctions dans les modals -->
        <script type="text/javascript" src="/public/js/jquery-3.2.1.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="/public/js/jquery.dropdown.min.js"></script>
        <script src="/public/js/datepicker.min.js"></script>

        <!-- Modals -->
        <div id="signin-modal" class="my-modal">
            <% include partials/signin %>
        </div>

        <div id="signup-modal" class="my-modal">
            <% include partials/signup %>
        </div>

        <div id="ingredient-modal" class="my-modal">
            <% include pages/admin/create_ingredient %>
        </div>

        <div id="unite-modal" class="my-modal">
            <% include pages/admin/create_unite %>
        </div>

        <script type="text/javascript" src="/public/js/modal.js"></script>
        <script type="text/javascript" src="/public/js/global.js"></script>

    </body>
</html>