:root {
    --navbar-height: 50px;
    --navbar-back-color: /*#e9573f;*/rgb(51, 87, 128);
    --navbar-font-size: 1.2em;
    --navbar-search-color: /*#af3727;*/rgb(18, 56, 100);
}

body {
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: url('/public/images/round.png') repeat;
}

main {
    flex: 1 0 auto;
    margin-top: 20px !important;
}

#search_zone {
    padding: 20px;
    display: none;
    background-color: var(--navbar-search-color);
}

/* Navbar */
nav.navbar {
    font-size: var(--navbar-font-size);
    height: var(--navbar-height);
}

nav.navbar a > i {
    color: white;
}

nav.navbar a:hover {
    background-color: var(--navbar-search-color);
}

a #logo {
    height: 30px;
    width: 50px;
}

.side-nav .search {
    position: absolute;
    left: 0;
    right: 0;
    top: 120px;
    margin-top: 1px;
    padding: 1px 0 0 0;
    z-index: 2;
}

#search {
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    border: 0;
}

/* Recette */
.recette-image {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.recette-header {
    position: relative;
    z-index: 10;
    color: white;
}

/* SideNav */
ul.sidenav {
    box-sizing: border-box;
    background-color: white;
    
    -moz-box-shadow: 0px 0px 2px 0px #656565;
    -webkit-box-shadow: 0px 0px 2px 0px #656565;
    -o-box-shadow: 0px 0px 2px 0px #656565;
    box-shadow: 0px 0px 2px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=2);
}

ul.sidenav > li > a {
    color: #333;
    display: block;
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid rgb(211, 211, 211);
}

ul.sidenav > li > a:hover {
    background-color: #1a237e;
    color: white;
}

/* Modal */
#overlay {
    background-color: rgb(46, 46, 46);
    z-index: 9000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    padding-bottom: 30px;
}

.my-modal {
    padding: 50px;  
    box-sizing: border-box;
    border: 1px solid rgb(226, 226, 226);
    background-color: white;
    position: absolute;
    overflow: hidden;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    top: 30px;
    z-index: 9999;
    display: none;

    -moz-box-shadow: 0px 0px 2px 0px #656565;
    -webkit-box-shadow: 0px 0px 2px 0px #656565;
    -o-box-shadow: 0px 0px 2px 0px #656565;
    box-shadow: 0px 0px 2px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=2);
}

button.my-modal-close {
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 1.6em;
    color: rgb(110, 16, 16);
    cursor: pointer;
    background-color: transparent;
    border: none;
}

button.my-modal-close:hover {
    filter: grayscale(100%);
}

/* Footer */
footer {
    margin-top: 30px;
    z-index: 90;
}