<%- contentFor('hero') %>
<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Mes plannings
            </h1>

            <h2 class="subtitle">
                <%= req.session.login %>
            </h2>
        </div>
    </div>
</section>

<%- contentFor('content') %>
<div class="columns is-multiline">
    <% plannings.forEach(function (planning) { %>
        <div class="column is-4">
            <div class="box">
                <h5 class="title is-5">Planning pour <%= planning.Recette.nom %></h5>
                <p>Le 
                    <%= planning.date.getDate() %>/
                    <%= (planning.date.getMonth() < 9) ? '0' + (planning.date.getMonth() + 1) : (planning.date.getMonth() + 1) %>/
                    <%= planning.date.getFullYear() %> 
                - Pour <%= planning.horaire %></p>
            </div>
        </div>
    <% }) %>
</div>