<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Créer une nouvelle unité
            </h1>
        </div>
    </div>
</section>
    
<form>
    <div class="columns">
        <div class="field column is-6">
            <label class="label" for="label_unite">Label</label>
            <input id="label_unite" class="input" type="text">
        </div>

        <div class="field column is-6">
            <label class="label" for="indice_unite">Indice</label>
            <input id="indice_unite" class="input" type="text">
        </div>
    </div>

    <button id="add-unite-btn" class="button is-link">Ajouter</button>
    
</form>
    
    <script type="text/javascript">
        $(document).ready(() => {
    
            // Creer l'ingrédient
            $("#add-unite-btn").click(function (event) {
                event.preventDefault();

                var label = $("#label_unite").val();
                var indice = $("#indice_unite").val();
    
                $.ajax({
                    url: "/a/create_unite",
                    type: "POST",
                    data: {
                        label,
                        indice
                    }
                }).done(function (data) {
                    var d = JSON.parse(data);
                    if (d.success) {
                        window.location.replace(d.redirect);
                    } else {
                        alert(d.errors);
                    }
                });
            });
            
        });
    </script>