<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Créer un nouvel ingrédient
            </h1>
        </div>
    </div>
</section>

<form>
    <div class="columns">
        <div class="field column is-6">
            <label class="label" for="nom_ingr">Nom</label>
            <input id="nom_ingr" class="input" type="text" name="nom">
        </div>

        <div class="field column is-6">
            <label for="unite_ingr" class="label">Unite</label>
            <div class="select is-fullwidth">
                <select name="" id="unite_ingr">
                    <option value="" selected disabled>Choisir</option>
                </select>
            </div>
        </div>
    </div>

    <div class="columns">
        <div class="field column is-3">
            <label class="label" for="qte_protides_ingr">Quantité de protides</label>
            <input class="input" type="number" value="0" id="qte_protides_ingr" 
                name="qte_protides">  
        </div>

        <div class="field column is-3">
            <label class="label" for="qte_glucides_ingr">Quantité de glucides</label>
            <input class="input" type="number" value="0" id="qte_glucides_ingr" 
                name="qte_glucides"> 
        </div>

        <div class="field column is-3">
            <label class="label" for="qte_calories_ingr">Quantité de calories</label>
            <input class="input" type="number" value="0" id="qte_calories_ingr" 
                name="qte_calories"> 
        </div>

        <div class="field column is-3">
            <label class="label" for="qte_lipides_ingr">Quantité de lipides</label>
            <input class="input" type="number" value="0" id="qte_lipides_ingr" 
                name="qte_lipides"> 
        </div>
    </div>

	<button id="add-ingredient-btn" class="button is-link">Ajouter</button>
	
</form>

<script type="text/javascript">
    $(document).ready(() => {

        // Populate select unite
        $.ajax({
            url: "/unite/all",
            type: "GET"
        }).done(function (data) {
            var unites = JSON.parse(data);
            unites.forEach(function (unite) {
                $("#unite_ingr").append(
                    $("<option></option>").attr("value", unite.id).text(unite.label)
                );
            });
        });

        // Creer l'ingrédient
        $("#add-ingredient-btn").click(function (event) {
            event.preventDefault();

            var nom = $("#nom_ingr").val();
            var unite = $("#unite_ingr").val();
            var qte_protides = $("#qte_protides_ingr").val();
            var qte_lipides = $("#qte_lipides_ingr").val();
            var qte_glucides = $("#qte_glucides_ingr").val();
            var qte_calories = $("#qte_calories_ingr").val();

            $.ajax({
                url: "/a/create_ingredient",
                type: "POST",
                data: {
                    nom,
                    UniteId: unite,
                    qte_protides,
                    qte_lipides,
                    qte_glucides,
                    qte_calories,
                    popularite: 0
                }
            }).done(function (data) {
                var d = JSON.parse(data);
                if (d.success) {
                    window.location.replace(d.redirect);
                } else {
                    swal({
                        title: "Erreur",
                        text: d.errors,
                        icon: "error"
                    });
                }
            });
        });
        
    });
</script>