<%- contentFor('hero') %>
<% include ../../partials/admin_header %>

<%- contentFor('content') %>
<div class="columns">
    <% include ../../partials/menu_admin %>

    <div class="column is-9">
        <h5 class="title is-5">Ingrédients</h5>

        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Quantité de glucides</th>
                    <th>Quantité de lipides</th>
                    <th>Quantité de protides</th>
                    <th>Quantité de calories</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% ingredients.forEach(ingredient => { %>
                    <tr>
                        <th><%= ingredient.nom %></th>
                        <td><%= ingredient.qte_glucides %></td>
                        <td><%= ingredient.qte_lipides %></td>
                        <td><%= ingredient.qte_protides %></td>
                        <td><%= ingredient.qte_calories %></td>
                        <td>
                            <div class="columns">
                                <div class="column is-6">
                                    <a class="button is-small" href="/a/update_ingredient?id=<%= ingredient.id %>">
                                        Modifier
                                    </a>
                                </div>

                                <div class="column is-6">
                                    <a class="button is-small" href="/a/remove_ingredient?id=<%= ingredient.id %>">
                                        Supprimer
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>

        <% if (ingredients.length == 0) { %>
            <h6>Aucun ingrédient n'est actuellement présent dans notre base</h6>
        <% } %>

        <button id="new-ingredient" class="button is-dark">Nouvel ingrédient</button>
    </div>
</div>