<%- contentFor('hero') %>
<% include ../../partials/admin_header %>

<%- contentFor('content') %>
<div class="columns">
    <% include ../../partials/menu_admin %>

    <div class="column is-9">
        <h5 class="title is-5">Recettes</h5>

        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Qte de glucides</th>
                    <th>Qte de lipides</th>
                    <th>Qte de protides</th>
                    <th>Qte de calories</th>
                    <th>Difficulte</th>
                    <th>Prix</th>
                    <th>Par</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% recettes.forEach(recette => { %>
                    <tr>
                        <th><%= recette.nom %></th>
                        <td><%= recette.qte_glucides %></td>
                        <td><%= recette.qte_lipides %></td>
                        <td><%= recette.qte_protides %></td>
                        <td><%= recette.qte_calories %></td>
                        <td><%= recette.Difficulte.label %></td>
                        <td><%= recette.get_prix() %></td>
                        <td><%= recette.Utilisateur.nom %></td>
                        <td>
                            <div class="columns">
                                <div class="column is-6">
                                    <a class="button is-small" href="/a/update_recette?id=<%= recette.id %>">
                                        Modifier
                                    </a>
                                </div>

                                <div class="column is-6">
                                    <a class="button is-small" href="/a/remove_recette?id=<%= recette.id %>">
                                        Supprimer
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>

        <% if (recettes.length == 0) { %>
            <h6>Aucune recette n'est actuellement présente dans notre base</h6>
        <% } %>

    </div>
</div>