<%- contentFor('hero') %>
<% include ../../partials/admin_header %>

<%- contentFor('content') %>
<div class="columns">
    <% include ../../partials/menu_admin %>

    <div class="column is-9">
        <h5 class="title is-5">Unités</h5>

        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Label</th>
                    <th>Indice</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% unites.forEach(unite => { %>
                    <tr>
                        <th><%= unite.label %></th>
                        <td><%= unite.indice %></td>
                        <td>
                            <a href="/a/remove_unite?id=<%= unite.id %>" 
                                class="secondary-content">Supprimer</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>

        <% if (unites.length == 0) { %>
            <h6>Aucune unité n'est actuellement présente dans notre base</h6>
        <% } %>

        <button id="new-unite" class="button is-dark">Nouvelle unité</button>
    </div>
</div>