<%- contentFor('hero') %>
<% include ../../partials/admin_header %>

<%- contentFor('content') %>
<div class="columns">
    <% include ../../partials/menu_admin %>

    <div class="column is-9">
        <form action="/a/update_recette?id=<%= recette.id %>" method="POST">
            
            <div class="field">
                <label class="label" for="nom">Nom</label>
                <input class="input" value="<%= recette.nom %>" type="text" name="nom" id="nom">
            </div>
        
            <div class="field">
                <label class="label" for="description">Description</label>
                <textarea name="description" class="textarea" id="description">
                    <%= recette.description %>    
                </textarea>        
            </div>
            
            <div class="columns">
                <div class="field column is-4">
                    <label class="label" for="nbpersonnes">Nombre de personnes</label>
                    <input class="input" type="number" value="<%= recette.nbre_personnes %>" name="nbre_personnes" id="nbpersonnes">
                </div>
        
                <div class="field column is-4">
                    <label class="label">Prix</label>
                    <div class="select is-fullwidth">
                        <select name="prix">
                            <option value="" disabled selected>Choisir un prix</option>
                            <option value="1">Presque gratuit</option>
                            <option value="2">Bon marché</option>
                            <option value="3">Modéré</option>
                            <option value="4">Cher</option>
                            <option value="5">Très cher</option>
                        </select>
                    </div>
                </div>
        
                <div class="field column is-4">
                    <label class="label">Difficulté</label>
                    <div class="select is-fullwidth">
                        <select name="difficulte">
                            <option value="" disabled selected>Choisir une difficulté</option>
                            <% difficultes.forEach(difficulte => { %>
                                <option value="<%= difficulte.id %>"><%= difficulte.label %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
            </div>
            
            <button class="button" type="submit">Enregistrer</button>
        </form>
    </div>