<%- contentFor('hero') %>
<% include ../../partials/admin_header %>

<%- contentFor('content') %>
<div class="columns">
    <% include ../../partials/menu_admin %>

    <div class="column is-9">
        <h5 class="title is-5">Modifier - Ingrédient</h5>
        <form action="/a/update_ingredient?id=<%= ingredient.id %>" method="POST">
            <div class="field">
                <label class="label" for="nom_ingr">Nom</label>
                <input id="nom_ingr" value="<%= ingredient.nom %>" class="input" type="text" name="nom">
            </div>

            <div class="columns">
                <div class="field column is-3">
                    <label class="label" for="qte_protides_ingr">Quantité de protides</label>
                    <input class="input" type="number" value="<%= ingredient.qte_protides %>" id="qte_protides_ingr" 
                        name="qte_protides">  
                </div>

                <div class="field column is-3">
                    <label class="label" for="qte_glucides_ingr">Quantité de glucides</label>
                    <input class="input" type="number" value="<%= ingredient.qte_glucides %>" id="qte_glucides_ingr" 
                        name="qte_glucides"> 
                </div>

                <div class="field column is-3">
                    <label class="label" for="qte_calories_ingr">Quantité de calories</label>
                    <input class="input" type="number" value="<%= ingredient.qte_calories %>" id="qte_calories_ingr" 
                        name="qte_calories"> 
                </div>

                <div class="field column is-3">
                    <label class="label" for="qte_lipides_ingr">Quantité de lipides</label>
                    <input class="input" type="number" value="<%= ingredient.qte_lipides %>" id="qte_lipides_ingr" 
                        name="qte_lipides"> 
                </div>
            </div>

            <button class="button is-link" type="submit">Modifier</button>
            
        </form>
    </div>
</div>