<%- contentFor('hero') %>
<% include ../../partials/admin_header %>

<%- contentFor('content') %>
<div class="columns">
    <% include ../../partials/menu_admin %>

    <div class="column is-9">
        <h5 class="title is-5">Modifier - Utilisateur</h5>

        <form action="/a/update_user?login=<%= user.login %>" method="POST">
        
            <div class="columns">
                <div class="column six field">
                    <label for="nom_u" class="label">Nom</label>
                    <input type="text" value="<%= user.nom %>" class="input" id="nom_u" name="nom">
                </div>
        
                <div class="column six field">
                    <label for="prenom_u" class="label">Prenom</label>
                    <input type="text" value="<%= user.prenom %>" class="input" id="prenom_u" name="prenom">
                </div>
            </div>
        
            <div class="columns">
                <div class="field column six">
                    <label for="" class="label">Adresse email</label>
                    <input type="text" class="input" name="email" value="<%= user.email %>">
                </div>

                <div class="field column six">
                    <label for="adresse_u" class="label">Adresse postale</label>
                    <input type="text" class="input" id="adresse_u" name="adresse">
                </div>
            </div>
        
            <button class="button is-link" type="submit">Modifier</button>
        
        </form>
    </div>
</div>