<%- contentFor('hero') %>
<% include ../../partials/admin_header %>

<%- contentFor('content') %>
<div class="columns">
    <% include ../../partials/menu_admin %>

    <div class="column is-9">
        <h5 class="title is-5">Utilisateurs</h5>

        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Login</th>
                    <th>Adresse mail</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Adresse</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user => { %>
                    <% if (user.login != req.session.login) { %>
                        <tr>
                            <th><%= user.login %></th>
                            <td><%= user.email %></td>
                            <td><%= user.nom %></td>
                            <td><%= user.prenom %></td>
                            <td><%= user.adresse %></td>
                            <td>
                                <div class="columns">
                                    <div class="column is-6">
                                        <a class="button is-small" href="/a/update_user?login=<%= user.login %>">
                                            Modifier
                                        </a>
                                    </div>
    
                                    <div class="column is-6">
                                        <a class="button is-small" href="/a/remove_user?login=<%= user.login %>">
                                            Supprimer
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    <% } %>
                <% }) %>
            </tbody>
        </table>

        <% if (users.length == 1) { %>
            <h6>Aucun utilisateur autre que vous n'est actuellement présent dans notre base</h6>
        <% } %>

    </div>
</div>